EurothermDisplay {
    layout: horizontal;
    background: $boost;
    /* height: 5; */
    margin: 1;
    /* min-width: 50; */
    padding: 1;
    /* border: solid $primary; */
}

Button {
    background: $boost 0%;
}

Button:hover {
    background: $boost;
}

CurrentValuesDisplay {
    layout: vertical;
    padding: 1;
    width: 40;
    align-horizontal: right;

    Button {
        &#button-reset-alarms {
            border: round $primary;
        }
    }
}

TemperatureDisplay {
    content-align: center middle;
    text-opacity: 100%;
    text-style: bold;
    /* text-align: right; */
    height: 3;
    color: $accent;
    background: $boost;
}

DataTable {
    max-width: 50;
    margin-top: 1;
    margin-bottom: 1;
}

StatusDisplay {
    layout: grid;
    grid-size: 2 2;
    grid-columns: 1fr 1fr 1fr 1fr;
    /* margin: 1; */
    border: round $primary 20%;
}


StatusDisplay StatusLabel {
    padding-left: 1;
    padding-right: 1;
    /* margin-left: 1;
    margin-right: 1; */
    color: $text-disabled;
    background: $boost;
    width: 1fr;

    /* &#ok {
        color: $text;
        background: $success;
    } */
}

StatusDisplay .enabled {
    color: $text;

    &#ok {
        background: $success;
    }

    &#alarm {
        background: $warning;
    }

    &#sensorBreak {
        background: $error;
    }

    &#remoteSPFail {
        background: $error;
    }
}


/* SetpointDisplay #enabled {
    background: $success;
} */

SetpointDisplay {
    layout: horizontal;
    background: $boost;
    width: 1fr;
    height: auto;
    padding: 1;

    Label {
        /* align-vertical: middle; */
        /* width: 10; */
        margin: 1;
        padding-left: 1;
        padding-right: 1;
        color: $text-muted;
    }

    #status-group {
        width: auto;
        dock: right;
    }

    Button {
        &#button-enable {
            border: round $success;
        }

        &#button-disable {
            color: $error;
            border: round $error;
        }
    }

    #label-enabled {
        background: $success;
        display: none;
    }

    #label-disabled {
        color: $text-disabled;
        background: $boost;
    }

    #button-disable {
        display: none;
    }

    &.enabled {
        #label-disabled {
            display: none;
        }

        #button-enable {
            display: none;
        }

        #label-enabled {
            display: block;
        }

        #button-disable {
            display: block;
        }
    }

    /* &.disabled {
        #label-enabled {
            display: none;
        }

        #button-disable {
            display: none;
        }
    } */
}
